<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de proyectos</title>
    <link rel="stylesheet" href="/AppGestionTiempos/VIEWS/Pages/css/Proyectos.css">
</head>

<body>
    <header>
        <button id="listarProyectos" type="button">Listar Proyectos</button>
        <button  type="button">Filtar por Empresa</button>
        <button type="button">Filtar por Proyecto</button>
        <button type="button">Filtar por Tipo</button>
    </header>

    <main>

    </main>

    <script type="module" src="../../JS/Validator.js"></script>
</body>

</html>