<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
</head>
<body>
    <form class="clase" action="">
        <input value="Kevin" id="fecha" type="datatime">
        <input class="clase" id="" type="text">
        <input  class="clase" type="text">
        <button class="clase" type="button">Registar Tiempo</button>

    </form>
    <button>Hola</button>
    <script src="/JS/Validator.js"></script>
</body>
</html>